* {
    margin: 0;
    padding: 0;
}

html, body {
    margin: 0;
    background-color: rgb(43, 101, 60);
    width: 100%;
    height: 100%;
}

#canvas {
    width: 500px;
    height: 500px;
}

#canvas-cont {
    width: 500px;
    height: 550px; 
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#main {
    width: 100%;
    height: 100%;
    /* border: solid 1px #000; */
    display: flex;
}

#left {
    width: 40%;
}

#right {
    width: 60%;
    background: url("Untitled-2.svg") center center no-repeat;
}

.cont {
    /* border: solid 1px #000; */
}

#arrow-cont {
    position: relative;
    left: 50%;
    top: 9%;
    transform: translateX(-50%);
    width: 50px;
    height: 50px;
}
